

/* tutorial by zoltan- https://www.useragentman.com/ */
.spacer1 {
    position: absolute;
    left: 630px;
    top: -50px;
    animation: spacer1 9s linear infinite; /* adding this line sets the animation as an infinite moving object */
}

@keyframes spacer1 {
    from { transform: rotate(0deg) translateX(50px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(50px) rotate(-360deg); } 
}

.spacer2 {
  position: relative;
  animation: spacer2 6s infinite alternate; 
}

@keyframes spacer2{
   from { transform: rotate(0deg) translateY(-200px) rotate(0deg); }
    to   { transform: rotate(0deg) translateY(-100px) rotate(0deg); }
      } 

.planet {
    position: absolute;
    left: 430px;
    top: -50px;
    animation: spacer1 10s linear infinite;
}

@keyframes planet {
    from { transform: rotate(0deg) translateX(0px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(0px) rotate(-360deg); }
}

.flag2 {
  position: relative;
  animation: flag2 15s linear infinite; 
}

@keyframes flag2 {
  from { transform: translateY(-500px); 
    }
    to { transform: translateY(0px);
    }
}
      
.flag{
    animation: flag 8s infinite alternate;
}  

/* Tutorial by Synoon- https://stackoverflow.com/questions/17767759/css3-scale-animation-keyframes/34226236 */ 

@keyframes flag {
        from {
            transform: scale(1.0);
            
        }
        to {
            transform: scale(1.2);
           
        }
    }


.spacer3 {
    animation: spacer3 8s infinite alternate;
}   
@keyframes spacer3 {
        from {
            transform: scale(1.0);
            
        }
        to {
            transform: scale(1.3);
           
        }
    }

.spacer4 {
    animation: spacer4 13s infinite alternate;
}   
@keyframes spacer4 {
        from {
            transform: scale(1.0);
            
        }
        to {
            transform: scale(0.5);
           
        }
    }

