/* styling of images - spacers */

.spacer1 {
    position: relative;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    width: 50%;
    float: right;
    margin-top: -80px;
}

.spacer2 {
    position: relative;
    margin-top: -80px;
    width: 50%;
    float: right;
}

.planet {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 40%;
}

.flag {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 45%;
    margin-left: 50px;
    margin-top: 30px;
}

.flag2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 45%;
    margin-right: -30px;
    margin-top: -40px;
}

.spacer3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 50%;
    margin-top: 90px;
}

.spacer4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 50%;
    margin-top: 40px;
}

/* styling for text */

.header {
    font-family: 'Karla', sans-serif;
    color: #F1C064;
    font-size: 70px;
    text-align: center;
}

.welcomet {
    font-family: 'Montserrat', sans-serif;
    color: #F1C064;
    font-size: 30px;
    text-align: center;
    margin-top: -40px;
    margin-left: 80px;
    margin-right: 80px;
}

.welcomet2 {
    font-family: 'Montserrat', sans-serif;
    color: #F1C064;
    font-size: 20px;
    text-align: center;
    margin-top: -40px;
    margin-left: 80px;
    margin-right: 80px;
}

/* text overlay toggle styling */

#reveal {
    
    background: linear-gradient(90deg, rgba(241,192,100,1) 0%, rgba(241,192,100,0.3799894957983193) 62%);
    padding: 20px 20px 20px 20px;
    z-index: 999;
    position: fixed;
    top: 25%;
    left: 15%;
    width: 250px;
    height: 150px;
    border-radius: 20px;
    display: none;
    color: #ffffff;
    font-size: 20px;
    

}

.ftext1 {
    font-family: 'Karla', sans-serif;
}

.ftext2 {
    font-family: 'Montserrat' , sans-serif;

}

.change {
    position: fixed;
    z-index: 999;
    top: 30%;
    right: 20%;
    padding: 20px;
    border-radius: 18px 18px 18px 0px;
    background: linear-gradient(90deg, rgba(151, 206, 187, 1) 0%, rgba(103, 199, 187, 1) 36%, rgba(85, 186, 174, 1) 67%);
    border: none;
    font-family: 'Karla', sans-serif;
    color: #ffffff;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
}

/* Animation found on code pen by Cole McCombs https://codepen.io/mccombsc/pen/ZEzxWPy */

/* Used only the ring animation but created a unique button */

button::after {
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 6px solid #67c7bb;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}

@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }

    100% {
        width: 200px;
        height: 200px;
        opacity: 0;
    }
}

.toggle_box {
    position: fixed;
    z-index: 9999;
    
}

/* text boxes */

#reveal2 {
    
    background: linear-gradient(90deg, rgba(222,163,111,1) 0%, rgba(222,163,111,0.6096813725490196) 62%);
    z-index: 999;
    position: fixed;
    top: 25%;
    left: 15%;
    width: 250px;
    height: 200px;
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    display: none;
    color: #ffffff;
}

#reveal3 {
    
    background: linear-gradient(90deg, rgba(42,157,143,1) 0%, rgba(42,157,143,0.5480567226890756) 62%);
    z-index: 999;
    position: fixed;
    top: 25%;
    left: 15%;
    width: 350px;
    height: 420px;
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    display: none;
    color: #ffffff;
}

#reveal4 {
    background: linear-gradient(90deg, rgba(222,163,111,1) 0%, rgba(222,163,111,0.6096813725490196) 62%);
    z-index: 999;
    position: fixed;
    top: 15%;
    left: 15%;
    width: 370px;
    height: 490px;
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    display: none;
    color: #ffffff;
}

#reveal5 {
    background: linear-gradient(90deg, rgba(222,163,111,1) 0%, rgba(222,163,111,0.6096813725490196) 62%);
    z-index: 999;
    position: fixed;
    top: 15%;
    left: 25%;
    width: 400px;
    height: 420px;
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    display: none;
    color: #ffffff;
}

#reveal6 {
    background: linear-gradient(90deg, rgba(222,163,111,1) 0%, rgba(222,163,111,0.6096813725490196) 62%);
    z-index: 999;
    position: fixed;
    top: 15%;
    left: 15%;
    width: 350px;
    height: 450px;
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    display: none;
    color: #ffffff;
}

#reveal7 {
    background: linear-gradient(90deg, rgba(222,163,111,1) 0%, rgba(222,163,111,0.6096813725490196) 62%);
    z-index: 999;
    position: fixed;
    top: 25%;
    left: 20%;
    width: 340px;
    height: 350px;
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    display: none;
    color: #ffffff;
}
